<nav class="navbar navbar-expand-lg my-0 justify-content-end inspectable">
  <!-- component-title: Top Nav Bar -->
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item d-none d-lg-block">
        <a href="javascript:" class="SideNavToggle nav-link">
          <%= theme_icon_tag "menu" %>
        </a>
      </li>
    </ul>
    <%= yield :navbar %>
    <ul class="nav navbar-nav">
      <%= link_to 'Skapa sida', new_node_path, class: 'nav-link' %>
      <%#= active_link_to 'Inställningar', admin_settings_path, class: 'nav-link', wrap_tag: :li, wrap_class: 'nav-item'%>
    </ul>
  </div>
</nav>
