%nav.nav-side-menu.navbar-expand-lg
  = render partial: 'layouts/sigbit/side_menu_header'
  #menu-content.navbar-collapse.collapse
    .nav-side-container
      %ul.navbar-nav.flex-column
        = render partial: 'layouts/sigbit/side_menu_main_content'
