!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FinspangsTekniska
    = csrf_meta_tags
    = stylesheet_link_tag    'sigbit/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'sigbit/application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %h1 Finspångs tekniska
      = yield
