<li>
  <%= link_to "#{fa_icon_tag(menu_item.contentable_icon)} #{menu_item.menu_title}".html_safe, edit_node_path(menu_item) %>
  <% if menu_item.children.present? %>
    <ul>
    <% end %>
    <%= render partial: 'sigbit/nodes/menu_item', collection: menu_item.children %>
    <% if menu_item.children.present? %>
    </ul>
  <% end %>
</li>
