%div
  %header.pl-2.pr-2.pt-4.pb-4.d-flex.align-items-center
    = icon('fas', "users fa-3x")
    %div.ml-3.mr-auto
      %h3.m-0= t(:title, scope: "sigbit.settings.#{params[:action]}")
    %div
      - if params[:action] == 'index'
        = link_to t('.create_button'), '#', class: 'btn btn-md btn-primary'
