%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{:href => "#"} Page content
  %li.nav-item
    %a.nav-link{:href => "#"} SEO
  %li.nav-item.mr-auto
    %a.nav-link{:href => "#"} Sorting
  %li.nav-item
    %a.nav-link{:href => "#"} Settings
