<table class="table">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <%- attributes.each do |col| -%>
      <%- accessor = "#{name.downcase}.#{col.name.to_s}" -%>
      <tr>
        <td><code><%= accessor %></code></td>
        <td><%= "<%= #{accessor} %%>" %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
