%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.navbar-item
        = link_to t('.new_node'), new_node_path, class: 'nav-link'
    = render 'language_switcher'
