/*
 *= require sigbit/rrt
 *= require sigbit/attachinary
 *= require sigbit/webpacker/pack
 *= require_self
 */

 @import "froala_editor.min";
 @import "froala_style";
 @import "plugins/table.min";
 @import "tempusdominus-bootstrap-4";

.logo {
  padding-top:10px;
  margin-left:1em;
}

.sortable-placeholder {
  margin-top: 1px;
  list-style-type: none;
  border:1px dashed #ccc;
  height:48px;
  background: #eee;
}

fieldset {
  padding-bottom:1em;
  border:1px solid #ddd;
  padding-left: 1em;
  padding-right:1em;
  margin-bottom:1em;
  legend {
    font-size: 1em;
    font-weight: bold;
    background: #eee;
    padding: 0.125em 0.5em;
    border:1px solid #ddd;
  }
}
