= render 'sigbit/users/partials/header'
%table.table.table-striped
  %thead
    %tr
      %th= t('sigbit/user.email', scope: 'activerecord.attributes')
      %th= t('sigbit/user.created_at', scope: 'activerecord.attributes')
      %th &nbsp;
  %tbody
    = render partial: 'sigbit/users/user_tr', collection: @users, as: :user
